<section class="contacts">
  <a class="contact"
     href="{{ .Site.Params.pgp }}">
    <i class="fa fa-key"
       aria-hidden="true"></i>
  </a>
  <a class="contact"
     href="https://github.com/{{ .Site.Params.github }}">
    <i class="fab fa-github"
       aria-hidden="true"></i>
  </a>
  <a class="contact"
     href="mailto:{{ .Site.Params.email }}">
    <i class="fas fa-envelope"
       aria-hidden="true"></i>
  </a>
  <a class="contact"
     href="https://signal.me/#eu/{{ .Site.Params.signal }}">
    <i class="fab fa-signal-messenger"
       aria-hidden="true"></i>
  </a>
  <a class="contact"
     href="{{ .Site.Params.rss }}">
    <i class="fas fa-square-rss"
       aria-hidden="true"></i>
  </a>

</section>
